IO_LOC "tx" 17;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "rx" 18;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;